[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
tensorflow = "*"
opencv-python = "*"
numpy = "*"
flask-cors = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
